<div class="turnos-container">
  <div class="filtros-container">
    <div class="filtros-input">
      <input
        type="text"
        placeholder="Filtrar por especialista"
        (input)="aplicarFiltros()"
        [(ngModel)]="especialistaFiltro"
      />
      <span class="filtros-input-icon"> 🔍 </span>
    </div>

    <div class="filtros-input">
      <input
        type="text"
        placeholder="Filtrar por especialidad"
        (input)="aplicarFiltros()"
        [(ngModel)]="especialidadFiltro"
      />
      <span class="filtros-input-icon"> 🔍 </span>
    </div>
  </div>

  <div class="turnos-grid">
    <app-card-turno
      *ngFor="let turno of turnosFiltrados"
      [turno]="turno"
      [tipo]="'admin'"
    ></app-card-turno>
  </div>

  <span *ngIf="turnos.length === 0">No hay turnos</span>
</div>
