<div class="navbar">
  <div class="user-info" *ngIf="authService.user$ | async as user">
    <span>{{ user?.email }}</span>
  </div>
  <div class="nav-links">
    <a *ngIf="!(authService.user$ | async)" (click)="navigateTo('/login')">
      Login
    </a>
    <a *ngIf="!(authService.user$ | async)" (click)="navigateTo('/register')">
      Registro
    </a>
    <a
      *ngIf="(authService.user$ | async) && isPaciente == true"
      (click)="navigateTo('/turnos-pacientes')"
    >
      Mis Turnos
    </a>
    <a
      *ngIf="(authService.user$ | async) && isEspecialista == true"
      (click)="navigateTo('/turnos-especialista')"
    >
      Mis Turnos
    </a>
    <a
      *ngIf="
        ((authService.user$ | async) && isPaciente == true) || isAdmin == true
      "
      (click)="navigateTo('/solicitar-turno')"
    >
      Solicitar Turno
    </a>
    <a
      *ngIf="(authService.user$ | async) && isAdmin == true"
      (click)="navigateTo('/turnos-admin')"
    >
      Turnos
    </a>
    <a *ngIf="authService.user$ | async" (click)="navigateTo('/perfil')">
      Mi Perfil
    </a>
    <a
      *ngIf="(authService.user$ | async) && isAdmin == true"
      (click)="navigateTo('/usuarios')"
    >
      Usuarios
    </a>
    <a
      *ngIf="(authService.user$ | async) && isAdmin == true"
      (click)="navigateTo('/estadisticas')"
    >
      Estadisticas
    </a>
    <a
      *ngIf="(authService.user$ | async) && isEspecialista == true"
      (click)="navigateTo('/pacientes')"
    >
      Pacientes
    </a>
    <a *ngIf="authService.user$ | async" (click)="logout()"> Cerrar Sesión </a>
  </div>
</div>

<router-outlet></router-outlet>
